<a href="https://colab.research.google.com/github/Shahesthan-Anjum/Python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " anjum ")

my_function("anju")
my_function("noor")
my_function("wazi")

anju anjum
noor anjum
wazi anjum

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("anjum", "anju")

anjum anju

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("anjum","")

anjum

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("noor", "wazi", "anju")

The youngest child is anju

In [12]:
def my_function(child3, child2, child1):
  print("The second child is " + child2)

my_function(child1 = "noor", child2 = "wazi", child3 = "anju")

The second child is wazi

In [13]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [14]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [15]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21