<a href="https://colab.research.google.com/github/Shahesthan-Anjum/Python/blob/main/iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 36
b = 255
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a = 36
b = 207
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
a = 200
b = 27
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [5]:
a = 200
b = 33
c = 444
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [6]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [9]:
a = 33
b = 200

if b > a:
  pass#u wil nt get error

In [12]:
print('whileloops')

whileloops

In [13]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [15]:
i = 1
while i < 6:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [16]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [17]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [18]:
print("for loop")

for loop

In [20]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [21]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [24]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "":
    break

apple
banana
cherry

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "apple":
    continue

apple
banana
cherry

In [26]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [27]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [28]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2