<a href="https://colab.research.google.com/github/Shahesthan-Anjum/Python/blob/main/list_tuple_dict_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple1=(1,2,"college",9)
tuple2=() # creates an empty tuple
tuple3=tuple((1,3,5,9,"hello"))
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 'college', 9)
()
(1, 3, 5, 9, 'hello')

In [2]:
set1={1,2,3,4,5,"hello","tup"}
set2={(1,8,"python",7)}
print(set1)
print(set2)

{1, 2, 3, 4, 5, 'hello', 'tup'}
{(1, 8, 'python', 7)}

In [8]:
set1={"water","air","food"}
set1.add("shelter")   # adds an element to the set at random position
print(set1)
set1.add("clothes")
print(set1)
set1.pop()  # removes random element from the set
print(set1)

{'food', 'shelter', 'air', 'water'}
{'shelter', 'water', 'food', 'clothes', 'air'}
{'water', 'food', 'clothes', 'air'}

In [3]:
dict1={"key1":"value1","key2":"value2"}
print(dict1)
dict2={}   # empty dictionary
print(dict2)
dict3=dict({1:"apple",2:"cherry",3:"strawberry"})
print(dict3)

{'key1': 'value1', 'key2': 'value2'}
{}
{1: 'apple', 2: 'cherry', 3: 'strawberry'}

In [4]:
list1=["hello",1,4,8,"good"]
print(list1)
list1[0]="morning"  # assigning values ("hello" is replaced with "morning")
print(list1)
print(list1[4])
print(list1[-1]) # list also allow negative indexing
print(list1[1:4]) # slicing
list2=["apple","mango","banana"]
print(list1+list2) # list concatenation

['hello', 1, 4, 8, 'good']
['morning', 1, 4, 8, 'good']
good
good
[1, 4, 8]
['morning', 1, 4, 8, 'good', 'apple', 'mango', 'banana']

In [5]:
tuple1=("good",1,2,3,"morning")
print(tuple1)
print(tuple1[0])  # accessing values using indexing
#tuple1[1]="change"  # a value cannot be changed as they are immutable
tuple2=("orange","grapes")
print(tuple1+tuple2)  # tuples can be concatenated
tuple3=(1,2,3)
print(type(tuple3))

('good', 1, 2, 3, 'morning')
good
('good', 1, 2, 3, 'morning', 'orange', 'grapes')
<class 'tuple'>

In [6]:
dict1={"key1":1,"key2":"value2",3:"value3"}
print(dict1.keys())  # all the keys are printed
dict1.values() # all the values are printed
dict1["key1"]="replace_one"  # value assigned to key1 is replaced
print(dict1)
print(dict1["key2"])

dict_keys(['key1', 'key2', 3])
{'key1': 'replace_one', 'key2': 'value2', 3: 'value3'}
value2

In [7]:
list1=["apple","banana","grapes"]
list1.append("strawberry")   # strawberry is added to the list
print(list1)
list1.pop()  # removes the last element from the list
print(list1)
list1.pop()
print(list1)

['apple', 'banana', 'grapes', 'strawberry']
['apple', 'banana', 'grapes']
['apple', 'banana']

In [9]:
dict1={"fruit1":"apple","fruit2":"banana","veg1":"tomato"}
dict1.update({"veg2":"brinjal"})
print(dict1)
dict1.update({"veg3":"chilli"})  # updates the dictionary at the end
print(dict1)
dict1.pop("veg2")
print(dict1)

{'fruit1': 'apple', 'fruit2': 'banana', 'veg1': 'tomato', 'veg2': 'brinjal'}
{'fruit1': 'apple', 'fruit2': 'banana', 'veg1': 'tomato', 'veg2': 'brinjal', 'veg3': 'chilli'}
{'fruit1': 'apple', 'fruit2': 'banana', 'veg1': 'tomato', 'veg3': 'chilli'}

In [11]:
list1=[1,5,3,9,"apple"]
print(list1.index(9)) # returns the index value of the particular element
list2=[2,7,8,7]
print(list2.index(7)) # returns the index value of the element at its first occurence
print(list2.index(7,2)) # returns the index value of the element from the particular start position given


tuple1=(1,3,6,7,9,10)
print(tuple1.index(6))
print(tuple1.index(9))


set1={1,5,6,3,9}
# set1.index()  will throw an error as they are unordered


dict1={"key1":"value1","key2":"value2"}
# dict1.index("key1") will throw an error
print(dict1.get("key1"))

3
1
3
2
4
value1